{% extends 'base.html' %}

{% block content %}
<header>
	PySnake Dojo
</header>

<div class='col_7'>
	<form id="snake_tournament_form" action="{% url 'submit_tournament' %}" method='POST'>
		<div>{% csrf_token %}</div>

		<legend>What snakes?</legend>
		<fieldset id="snakes">
		{% for snake in teams_list %}
				<input type="checkbox" name="snake" value="{{ snake.id }}" data-name="{{ snake.snake_name }}" /><span class='snake_label'>{{ snake.snake_name }}</span><br />
		{% endfor %}
		</fieldset>
		<button id="code_submit" type="submit" value="submit">Submit</button>

	</form>
</div>

<div class='col_3'>
	<form>
	<legend>What enemy snake?</legend>
		<fieldset>
				<input type="radio" name="enemy_snake" value="tournament" /><span class='snake_label tournament'>Tournament</span><span id='tournament_final_result'></span><br />
		</fieldset>
	</form>
		<p>
		<span style="color: #F00">&#9632;</span><span id="snake1_name"></span><br/>
		<span style="color: #00F">&#9632;</span><span id="snake2_name"></span>
	</p>
	<button type="button" value="step_backward" id="step_backward"/>&lt;</button>
	<button type="button" value="pause" id="pause"/>||</button>
	<button type="button" value="play" id="play"/>&#9654;</button>
	<button type="button" value="step_forward" id="step_forward"/>&gt;</button><br/>
	<canvas id="board" width="150" height="150"></canvas>

	<div id='results_table'>
		{% include 'game/results_table.html' %}
	</div>

</div>

{% endblock content %}