<table>
	<caption>Team best results</caption>
	<tr>
		<th>Snake</th>
		<th> Randomkonda </th>
		<th> Blind Mamba </th>
		<th> CobrA* </th>
	</tr>
	{% for team in teams_list %}
	<tr>
		<td>{{ team.snake_name }}</td>
		<td>{{ team.best_randomkonda_result }}</td>
		<td>{{ team.best_blind_mamba_result }}</td>
		<td>{{ team.best_cobra_star_result }}</td>
	</tr>
	{% endfor %}
</table>