{% load staticfiles %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>PySnake</title>
  <meta name="description" content="PySnake">
  <meta name="author" content="Gandi">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
  <script src="{% static "js/jquery.js" %}"></script>
  <script src="{% static "js/scripts.js" %}"></script>
</head>

<body>
  <div class='content'>
    {% block content %}
    {% endblock content %}
  </div>
</body>
</html>